
*.v2
*.vsidx
*.lock
*.v1
CodeDePorc/.vs/CodeDePorc/v17/.suo
*.testlog
*.manifest
*.1
*.json
*.dll
*.exe
*.pdb
*.props
*.targets
*.cs
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
*.txt
*.editorconfig
*.sentinel
CodeDePorc/TestCodeDePorc/bin/Debug/net6.0/CoverletSourceRootsMapping
CodeDePorc/TestCodeDePorc/bin/Debug/net6.0/fine-code-coverage/build-output/CoverletSourceRootsMapping
*.xml
*.log
*.html
*.htm
